@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h2>ISTORE</h2>
<h2>Şifre Yenileme</h2>
<hr />

@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}

<form asp-action="ForgatPassword" method="post">
    <div class="mb-3">
        <label for="Email">Email</label>
        <input name="Email" type="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Mail adresime bağlantı gönder</button>
    </div>
</form>
