<style>
/* Yatay Kaydırmalı Ürünler */
    /* Hero Bölümü */
    .hero {
        background: url('https://www.badebilgisayar.com/wp-content/uploads/2023/08/cropped-apple-products.webp') no-repeat center center/cover;
        color: black;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>
<!-- Öne Çıkan Ürünler -->
<section class="hero">
    <div class="container">

        <a asp-controller="Store" asp-action="StorePage" class="btn btn-dark btn-lg">Alışverişe Başla</a>
    </div>
</section>