
@{
    Layout = "_LayoutAdmin";  // Varsayılan olarak yeni layout'u kullan
}

<h2>Ana Sayfa Yönetimi</h2>
<hr>

<a asp-controller="PageManagement" asp-action="HomeSliderManagement" class="btn btn-secondary btn-lg w-100">Slider Yönetimi</a>
<hr>
<br />
<a asp-controller="PageManagement" asp-action="HomeCategoryManagement" class="btn btn-secondary btn-lg w-100">Kategori Yönetimi</a>
<hr>
<br />
<a asp-controller="Home" asp-action="Product" class="btn btn-secondary btn-lg w-100">Öne Çıkarılanları Yönet</a>


