@model StoreViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";  // Varsayılan olarak yeni layout'u kullan

}
<style>
    a {
        color: black;
    }

    .img-hover {
        transition: transform 0.3s ease; /* Yumuşak geçiş efekti */
    }

        .img-hover:hover {
            transform: scale(3.0); /* Resmi 1.2 kat büyütme */
        }

</style>
<h2><a asp-controller="PageManagement" asp-action="HomePageManagement" class="black-link">Anasayfa</a> / Store Yönetimi</h2>
<hr>
<div class="row">
    <div class="col-md-3">
        <vc:categories-list />

    </div>

        <div class="col-md-9">
            <table class="table table-sm table-bordered">
                <colgroup>
                    <col style="width: 150px;">  <!-- Fotoğrafın genişliği -->
                    <col style="width: auto;">   <!-- Diğer kolonlar için otomatik genişlik -->
                    <col style="width: auto;">
                    <col style="width: 200px;">  <!-- Düzenleme ve Silme butonları için kolon genişliği -->
                </colgroup>

                <thead>
                    <tr>
                        <th>İçerik</th>
                        <th>İçerik Ad</th>
                        <th>Aktif mi ?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.products)
                    {
                        <tr>
                            <td>
                                <img src="~/img/@product.img" alt="Product Image" class="d-block w-100 img-hover">
                            </td>
                            <td>@product.Name</td>
                            <td>@(product.IsActive ? "Evet" : "Hayır")</td>

                            <td>
                                <form asp-action="SliderEdit" method="post" style="display: inline;">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    @if (product.IsActive)
                                    {
                                        <button type="submit" class="btn btn-warning btn-sm">Deaktif Et</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success btn-sm">Aktif Et</button>
                                    }
                                </form>
                                <form asp-action="SliderDelete" method="post" onsubmit="return confirm('emin misiniz')" style="display: inline;">
                                    <input type="hidden" value="@product.Id" name="id">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

</div>

