<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        body {
            display: flex;
            flex-direction: column;
            height: 100%; /* Sayfanın tamamı için yüksekliği %100 yapıyoruz */
            margin: 0; /* Sayfanın kenar boşluklarını sıfırlıyoruz */
            min-height: 100vh; /* Sayfanın tamamını kapsayacak şekilde yüksekliği ayarlıyoruz */
        }

        main {
            flex-grow: 1; /* Main kısmı içeriğe göre büyüsün ve footer'a kadar uzansın */
        }

    .card-img-top {
        height: 250px; /* Sabit bir yükseklik belirleyin */
        object-fit: cover; /* Fotoğrafı kutuya sığdırmak için uygun şekilde yerleştirir */
        width: 100%; /* Fotoğrafın genişliğini kartın genişliğine uyacak şekilde ayarlar */
    }



    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISTORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISTORE.styles.css" asp-append-version="true" />
    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
</head>
<body>
    <partial name="_Navbar" />
    <div class="container">
        <main role="main" class="pb-3" style="color:black">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>