@model Cart

@if (Model?.Items.Count() > 0)
{

    <small class="text-white">

        <a class="bi bi-cart fs-4 nav-link me-3 text-white" asp-page="/Cart">
            Sepetim (@ViewData["TotalItems"])
        </a> 

    </small>
}
else
{
    <small class="text-white">

        <a class="bi bi-cart fs-4 nav-link me-3 text-white" asp-page="/Cart">
            Sepetim (0)
        </a>

    </small>
}
