@model HomeViewModel
<style>
    /* Yatay Kaydırmalı Ürünler */
    .scroll-container {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding: 10px;
        scroll-behavior: smooth;
    }

        .scroll-container .card {
            flex: 0 0 auto;
            width: 18rem;
        }
</style>
<!-- Öne Çıkan Ürünler -->
<section class="container my-5">
    <h2 class="text-left mb-4">Öne Çıkan Ürünler</h2>
    <hr />
    <div class="scroll-container">

        @foreach (var product in Model.Products)
        {
            @if (product.IsActive == true && product.top == true)
            {
                <div class="col-md-4">
                    <div class="card category-card shadow-sm">
                        <div>
                            <img src="~/img/Product/@product.img" class="card-img-top" alt="@product.Name">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">@product.Name</h5>
                            <form asp-action="ProductDetails" method="post" class="d-flex justify-content-center">
                                <input type="hidden" asp-for="@product.Id" name="Id" />
                                <button type="submit" class="btn btn-outline-success btn-sm">Ürün Detayı</button>
                            </form>

                        </div>
                    </div>
                </div>
            }


        }
    </div>
</section>