 @page
 @model CompletedModel
 <br />
<div class="text-center">
    <h1>IStore </h1>
    <hr />
    <h2>Teşekkür ederiz.</h2>
    <br/>
    <p>#@Model.OrderId numaralı siparişiniz oluşturuldu.</p>
    <p>Kısa süre içinde siparişinizle ilgili detaylar ve teslimat bilgileri tarafınıza iletilecektir.</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Anasayfa</a>
</div>

