@model ISTOREAPP.Data.Entities.Product
@{
    Layout = "_LayoutAdmin";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h2>@Model.Name Detay Bilgileri</h2>
<hr />
<a asp-action="StorePageManagement" class="btn btn-secondary">Geri Dön</a>
<br />
<br />
<form asp-action="StoreProductEdit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model?.Id" />

    <div class="form-group">
        <label asp-for="Name">Kullanıcı Adı</label>
        <input asp-for="Name" class="form-control" value="@Model?.Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Features">Ürün Özellikleri</label>
        <input asp-for="Features" class="form-control" value="@Model?.Features" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Ürün Açıklaması</label>
        <input asp-for="Description" class="form-control" value="@Model?.Description" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Kategori Id</label>
        <input asp-for="CategoryId" class="form-control" value="@Model?.CategoryId" />
    </div>

    <div class="form-group">
        <label asp-for="img">Ürün Görseli</label>
        <input type="file" name="imageFile" class="form-control"  value="@Model?.img"/>
    </div>

    <div class="form-group">
        <label asp-for="Price">Ürün Fiyatı:</label>
        <input asp-for="Price" class="form-control" value="@Model?.Price" />
    </div>


    <br />
    <button type="submit" class="btn btn-dark">Kaydet</button>
</form>
