@{
    ViewData["Title"] = "Hakkında";
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan


}
<style>

    body {
        display: flex;
        flex-direction: column;
        height: 100%; /* Sayfanın tamamı için yüksekliği %100 yapıyoruz */
        margin: 0; /* Sayfanın kenar boşluklarını sıfırlıyoruz */
        min-height: 100vh; /* Sayfanın tamamını kapsayacak şekilde yüksekliği ayarlıyoruz */
    }

    main {
        flex-grow: 1; /* Main kısmı içeriğe göre büyüsün ve footer'a kadar uzansın */
    }

</style>

<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="https://www.badebilgisayar.com/wp-content/uploads/2023/08/cropped-apple-products.webp" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Biz Kimiz?</h2>
                        <p class="lead fs-4 text-secondary mb-3">ISTORE, Apple ürünlerini seven ve teknoloji dünyasında fark yaratmak isteyen kullanıcılar için mükemmel bir mağaza deneyimi sunuyor. Amacımız, Apple markasının en yeni ve en kaliteli ürünlerini sunarak müşterilerimizin beklentilerini aşan bir alışveriş deneyimi sağlamaktır.</p>
                        <p class="mb-5">
                            Hızla büyüyen bir teknoloji mağazası olarak, her zaman müşteri odaklı bir yaklaşımı benimsedik. İnovasyon, müşteri memnuniyeti ve güven bizim temel değerlerimizdir. Ürünlerimizi sürekli olarak geliştiriyor ve en yeni Apple teknolojilerini müşterilerimize sunmak için sürekli yeni yollar arıyoruz.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>