@model IEnumerable<CategoryViewModel>
    <br />
    <br />
    <h5>Ürün Kategorisi</h5>
    <hr />
    <div class="d-grid gap-2">
        <a class="btn @(ViewBag.SelectedCategory == null ? "btn-secondary": "btn-outline-secondary")"
       href="/StorePage">Anasayfa</a>

        @foreach (var category in Model)
        {
            <a class="btn @(ViewBag.SelectedCategory == category.Url ? "btn-secondary": "btn-outline-secondary")"
               asp-controller="Store" asp-action="StorePage" asp-route-category="@category.Url">
                @category.Name
            </a>
        }
    </div>

